/* header start */

.header {
    padding-right: 20px;
  }
  
  .heading {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    color: rgb(218, 138, 34);
    text-align: end;
    padding-right: 35px;
  }
  
  .para1 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: end;
  
  }
  
  
  .detail-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0%;
  }
  
  .number-nav {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: rgb(26, 3, 48);
    background-color: white;
    border: 2px solid rgb(26, 3, 48);
    border-radius: 20px;
    padding: 5px;
  
  }
  
  .number-nav:hover {
    background-color: rgb(28, 4, 51);
    color: burlywood;
    border: 2px solid burlywood;
  }
  
  
  
  .email-nav:hover {
    background-color: rgb(26, 2, 48);
    color: burlywood;
    border: 2px solid burlywood;
  }
  
  
  
  
  
  /* header end */
  
  
  /* navbar css start */
  .navbar {
    background-color: rgb(12, 2, 22);
  
  }
  
  .logo-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 50px;
    
  
    transition-duration: 1s;
    transition-delay: 1s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);
  }
  
  .logo-img:hover {
    transform: scale(100%);
  
  }
  
  .navbar-nav {
  
    position: relative;
    top: -20px;
    margin: 25px;
  
  
  }
  
  
  .nav-link {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    border: 2px solid rgba(12, 2, 22, 0.021);
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    padding: 10px;
    margin-left: 30px;
  }
  
  
  .nav-link:hover {
    color: burlywood;
    border: 2px solid burlywood;
    border-radius: 50px;
  }
  
  .search-nav {
    padding-top: 20px;
    padding-right: 30px;
  
  
  
  }
  
  .search-input {
    border-radius: 15px;
  
  }
  
  .navbar-toggler {
  
    background-color: white;
  }
  
  /* navsbar ends */

 /* Introduction start */
 .h1-coro{
    text-align: center;
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    margin-top: 30px;
    
}
hr{
    border: 2px solid;
}


p{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    line-height: 30px;
    
   
}
.h3-intro{
    text-align: center;
    font-weight: 600;
    color:rgb(219, 146, 50) ;
    text-align: center;
}

#img-design1{
    
    width: 100%;
    height: 80%;
    margin-top: 50px; 
    border: 2px solid rgb(219, 146, 50);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);

   
}
#img-design1:hover{
    transform: scale(100%);
}


/* Introduction end */

/* Year Originated start */
.h2-year{
    text-align: center;
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    margin-top: 50px;
}
.h4-origin{

    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
    
}
.h3-dec{

    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-jan{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
    
}
.h3-march{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
    
}
#img-year3{
    width: 100%;
    height: 80%;
    margin-top: 100px; 
    border: 2px solid rgb(219, 146, 50);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);
}
/* Year Originated end */

/* Location Of Origin start */
.h2-location{
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    text-align: center;
    margin-top: 50px;
}
#img-location{
    width: 100%;
    height: 80%;
    margin-top: 150px; 
    border: 3px solid rgb(219, 146, 50);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);
}
/* Location Of Origin end */

/* Spread Of Virus start */
.h2-spread{
    text-align: center;
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    margin-top: 50px;
}
.h3-Origin{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Modes{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Factors{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Incubation{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Global{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Prevention{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Lessons{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
#img-spread{
    width: 100%;
    height: 80%;
    margin-top:100px; 
    border: 3px solid rgb(219, 146, 50);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);
}

/* Spread Of Virus end*/

/* Facts & Figurea Of Damage Cacued By Virus start */
.h2-Figurea{
    text-align: center;
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    margin-top: 50px;
}
.h3-Health{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Economic{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Social{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Other {
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Recovery{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
#img-figurea{
    width: 100%;
    height: 80%;
    margin-top:100px; 
    border: 3px solid rgb(219, 146, 50);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);
}

/* Facts & Figurea Of Damage Cacued By Virus end */

/* Precaution Required start */

.h2-Precaution{
    text-align: center;
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    margin-top: 50px;
}
.h3-Personal{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Face{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Social{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Vaccination{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Cleaning{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Monitoring{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Travel{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ;
}
.h3-Stay{
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color:rgb(219, 146, 50) ; 
  }

#img-hygain{
    width: 100%;
    height: 80%;
    margin-top: 100px; 
    border: 2px solid rgb(219, 146, 50);
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    transform: scale(90%);
}


/* Precaution Required end */

 /* accordian start */
.accordion {
background-color: #eee;
color: #444;
padding: 18px;
width: 100%;
border: none;
text-align: center;
outline: none;
font-size: 15px;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #ccc; 
}

.panel {
padding: 0 18px;
display: none;
 background-color: white;
 overflow: hidden;
}  
.h2-Frequently{ 
    color:rgb(219, 146, 50);
    font-style: italic;
    font-weight: 700;
    text-decoration: underline 4px solid;
    margin-top: 50px;
} 
/* .p{
    margin-left: 30px;
    display: inline-block;
}
.space1{
    display: inline-block;
} */

/* accordian end */

  /* footer starts */
#quick-links a{
    color: white;
    text-decoration: none;
}
#quick-links li{
    list-style: none;
    color: white;
}
#quick-links{
    padding-top: 15px;
}
#quick-links a:hover{
    color: white;
    text-decoration: underline;
}
#quick-links li:first-child{
    color: white;
    text-decoration: underline 2px burlywood;
}
footer{
    background-color: rgb(26, 3, 48);
}
.design{
    font-size: large;
    font-style: italic;
}
#about{
    list-style: none;
}
#about li{
    padding-top: 15px;
}
.design-2{
    color: white;
    font-size: large;
    font-style: italic;
    text-decoration: underline 2px burlywood;   
}
.text-style{
    color: white;
}
#contact{
    list-style: none;
}
#contact li{
    padding-top: 15px;
}
.design-3{
    color: white;
    font-size: large;
    font-style: italic;
    text-decoration: underline 2px burlywood;
}
.style-box{
    width: 14rem;
    height: 40px;
    /* border: 1px solid red; */
}
.image-style{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}
.main{
    background-color: rgba(24, 2, 4, 1);
}
.button-style{
  display: inline-block;
    width: 150px;
    height: 30px;
    background-color: burlywood;
    color: black;
    border: transparent;
    border-radius: 20px;
}
.button-style:hover{
    background-color: rgba(24, 2, 4, 1);
    color: burlywood;
    border: 2px solid burlywood;
    border-radius: 20px;
}
/* footer ends */
/* header media query */

@media (max-width:991px) {
    .heading {
        text-align: center;
        padding-left: 30px;
    }
  
    .para1 {
        text-align: center;
    }
  
  }
  /* navbar media qeury */
  
  @media (min-width:1200px) {
    .navbar-nav {
        margin-left: 150px;
    }
  
  }
  
  @media (max-width:1150px) {
    .navbar-nav {
        margin-right: 100px;
    }
  
  }
  
  /* media query css ends */